// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  padding: 50px;
}

.flex-column {
  padding: 15px;
  border-radius: 5px;
}

.h-divider{
  margin-top:5px;
  margin-bottom:5px;
  height:1px;
  width:100%;
  border-top:1px solid gray;
 }



 // <p><%= link_to "Create a new task", task_path(new) %></p>
 